[Unit]
Description=Monitor hotplug event watcher for Polybar
After=graphical.target

[Service]
ExecStart=/home/%u/.config/polybar/monitor-hotplug.sh
Restart=always
Environment=XAUTHORITY=/home/%u/.Xauthority

[Install]
WantedBy=default.target
