[Unit]
Description=Monitor hotplug event watcher for Polybar
After=graphical.target

[Service]
ExecStart=/home/sandlayth/.config/polybar/monitor-hotplug.sh
Restart=always
Environment=XAUTHORITY=/home/sandlayth/.Xauthority

[Install]
WantedBy=default.target
