[Unit]
Description=Change wallpaper every 5 minutes
After=network.target

[Service]
ExecStart=/home/sandlayth/.config/wallpaper/display_wallpaper.sh
Environment=XDG_RUNTIME_DIR=/run/user/%U
